.picture{
    width: 500px;
    border-radius: 8px;
}

.question{
  font-family: "DynaPuff", system-ui;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  color: #9b7ae2ff;
}

.title{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color:#1959a6ff;
} 



button{
display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #e99b3dff;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  width: 200px;
  height: 60px;
  font-family: "Luckiest Guy", cursive;
  font-weight: 400;
  font-style: normal;
}


.x{
  background:white;
  padding:20px;
  margin:20px auto;
  width:520px;
   border-radius: 15px;
  box-shadow: 0 9px #999;
}

*{
    text-align: center;
    
}

body{
  background-image: url(https://static.vecteezy.com/system/resources/thumbnails/026/812/783/small/background-with-flowers-and-bubbles-vector.jpg);
}

.option3, .option4, .option5, .option6, .option7, .endStory, .findFormula, .happy, .home{
  display: none;
}

h2{
  width: 500px;
  margin: auto;
}


span{color:#e99b3dff;}
